* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff3f6;
    color: #3b2f35;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url("./assets/tomato-pattern.png");
    background-repeat: repeat;
    background-size: 450px;
}

.pomodoro-card {
    width: 100%;
    max-width: 390px;
    background-color: #fffdf8;
    padding: 32px 24px;
    border-radius: 28px;
    text-align: center;
    box-shadow: 0 12px 30px rgb(120, 80, 90, 0.15);
}

.app-header,
.timer-section,
.controls {
    text-align: center;
}

.timer-section img {
    width: 55px;
    height: 55px;
}

.app-header img {
    width: 60%;
    margin-bottom: 8px;
}

.app-header p {
    font-size: 1rem;
    color: #8f7a84;
    margin-bottom: 28px;
}

.setup-section {
    margin-bottom: 32px;
}

.setup-section p {
    color: #3b2f35;
}

.interval-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 12px;
}

.interval-selector button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #f7c6d4;
    color: #775e6a;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.interval-selector button:hover {
    background-color: #f3aebe;

}

.session-step {
    color: #8f7a84;
    font-weight: bold;
    margin-bottom: 12px;
}

.mode-icon {
    margin-bottom: 16px;
    transition: 0.3s ease;
}

.timer-display {
  --progress: 0%;

  width: 220px;
  height: 220px;
  margin: 0 auto 28px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  position: relative;

  background: conic-gradient(
    #ebe8eb 0%,
    #eae2eb var(--progress),
    #f7c6d4 var(--progress),
    #f7c6d4 100%
  );
}

.timer-display::before {
  content: "";
  position: absolute;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  background-color: #fffdf8;
}

#timer-text {
  position: relative;
  z-index: 1;
}

.interval-progress {
    color: #8f7a84;
    margin-bottom: 28px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.controls button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background-color: #f7c6d4;
    color: #775e6a;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.controls button:hover {
    background-color: #febecd;
}
.control-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    display: block;
    pointer-events: none;
}
